<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.mytravelsapp">

    <application
        android:name=".presentation.AndroidApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".presentation.view.activity.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.view.activity.TravelListActivity"
            android:label="@string/activity_travel_list_title">

        </activity>

        <activity
            android:name=".presentation.view.activity.TravelDetailsActivity"
            android:label="@string/activity_travel_details_title"
            android:parentActivityName=".presentation.view.activity.TravelListActivity">
        </activity>

        <activity
            android:name=".presentation.view.activity.TravelPlanningActivity"
            android:label="@string/activity_travel_planning_title"
            android:parentActivityName=".presentation.view.activity.TravelDetailsActivity">
        </activity>

        <activity
            android:name=".presentation.view.activity.TravelPlacesActivity"
            android:label="@string/activity_travel_places_title"
            android:parentActivityName=".presentation.view.activity.TravelListActivity">
        </activity>

        <activity
            android:name=".presentation.view.activity.TravelPlacesDetailsActivity"
            android:label="@string/activity_travel_places_details_title"
            android:parentActivityName=".presentation.view.activity.TravelPlacesActivity">
        </activity>


        <activity
            android:name=".presentation.view.activity.CategoryActivity"
            android:label="@string/activity_categories_title"
            android:parentActivityName=".presentation.view.activity.TravelListActivity">
        </activity>

    </application>

</manifest>
